@import "colors.css";

* {
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 101%;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
  padding: 5px;
  border: 0px;
}

tooltip {
  color: @inverse_surface;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

tooltip label {
  color: @inverse_surface;
}
/*-----module groups----*/
.modules-right {
  /*background-color: rgba(0,0,0,0.5);*/
  color: @secondary;
  /*	border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
}
.modules-center {
  /*background-color: rgba(0,0,0,0.5);*/
  color: @secondary;
  /*	border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
}
.modules-left {
  /*background-color: rgba(0,0,0,0.5);*/
  color: @secondary;
  /*border-bottom: 0px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
}
/*-----modules indv----*/
#taskbar button,
#workspaces button {
  color: @outline;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 50px;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease;
}
#taskbar button:hover,
#workspaces button:hover {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

#taskbar button.active,
#workspaces button.active {
  color: @background;
  background-color: alpha(@primary_fixed, 0.75);
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @primary;
}

#workspaces button.empty:not(.active):not(.urgent) {
  padding-left: 6px;
  padding-right: 6px;
  opacity: 0.1;
}

#custom-fan,
#custom-logo,
#custom-swaync,
#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  background-color: alpha(@surface_container, 0.75);
  /* border: 1px solid @surface_container; */
  border-radius: 100px;
  padding: 4px 20px;
  margin: 0 0 0 5px;
}

#workspaces {
  padding: 4px 5px;
}

#custom-swaync {
  padding-left: 20px;
  padding-right: 14px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
  color: #39ff14;
}

#pulseaudio.muted {
  color: #cc3436;
}
#temperature.critical {
  color: red;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
}
